body{
    background-image: url("darkheader.jpg");
    background-repeat: no-repeat;
    background-size: cover;
   
    height: 100%;
    
}

/* header h1{
   
} */

h1{
    width: 40%;
    margin: 0 auto;
    margin-top: 100px;
    color: white;
    
}